In [1]:
import numpy as np
import pandas as pd
import requests as req
from datetime import date
import tabula
import  PyPDF2
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import re
from tabula import read_pdf
import os

# EXTRACTION OF MONTHS

#### I have used different notebooks for different months since it was starting to get a little messy.
#### This code is for the month of December but the same pattern has been used for the rest of the months along with little tweaks based on the situation

# Trial Run
 - Here I first try the code on one pdf to make sure the correct data is being extracted before iterating it through the rest of the days of the month

In [26]:
pdf_path = '01-12-2020%20HMB%20English.pdf' 
dist_abst = tabula.read_pdf(pdf_path, pages = 3, lattice = True,area = [56,40,730.2,557])
dist_abst = dist_abst[0]
# Removing the null columns
 ## Initially I was using .dropna(axis = 'columns') but in some cases it was deleting some of the important cols as well
 ## Hence had to resort to this method
dist_abst = dist_abst.drop(dist_abst.columns[[9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]],axis = 'columns')

# Setting the header 
header_row = 0
dist_abst.columns = dist_abst.iloc[header_row]
dist_abst = dist_abst.drop(header_row)
dist_abst.columns = dist_abst.columns.str.replace(r"[\r]"," ")

# Row 32 is the Totals row
dist_abst = dist_abst.drop([32],axis = 0)
dist_abst = dist_abst.set_index('District Name')
dist_abst.to_csv('temp.csv')
dist_abst

,Today’s Positives,Total Positives,Today’s Discharges,Total Discharges,Total Active Cases,Today’s Reported Covid Deaths,Total Covid Deaths,Dea due Non Covi reaso
District Name,,,,,,,,
Bagalakote,11,13516,9,13265,115,0,136,0
Ballari,7,38249,24,37461,205,1,583,0
Belagavi,27,25680,19,25065,274,0,341,0
Bengaluru Rural,38,17653,33,17134,375,0,144,0
Bengaluru Urban,758,370492,131,348479,17866,9,4146,1
Bidar,1,7077,2,6856,49,0,168,4
Chamarajanagara,10,6365,18,6167,71,0,116,11
Chikkaballapura,12,12125,36,11857,154,0,113,1
Chikkamagaluru,19,13223,22,12898,187,0,138,0
Chitradurga,33,13604,17,13236,304,1,64,0
Dakshina Kannada,36,31959,42,30770,472,0,715,2
Davanagere,14,21622,27,21138,221,0,263,0
Dharwada,10,21401,9,20692,109,0,600,0
Gadag,4,10750,19,10565,44,0,141,0
Hassana,50,27071,44,26287,398,2,386,0
Haveri,9,10777,20,10301,287,0,189,0
Kalaburagi,8,20475,10,19902,254,0,319,0
Kodagu,9,5307,7,5159,80,0,68,0
Kolara,25,9166,24,8868,130,0,168,0
Koppala,8,13688,5,13347,63,0,278,0
Mandya,40,18604,55,18186,272,0,146,0
Mysuru,51,50731,75,49401,330,1,1000,0
Raichuru,17,13817,4,13441,220,0,156,0
Ramanagara,5,7240,6,7097,68,0,75,0
Shivamogga,12,21562,25,21011,203,0,348,0
Tumakuru,49,23353,110,22599,386,0,368,0
Udupi,14,22703,22,22312,204,0,187,0
Uttara Kannada,31,13801,38,13454,176,0,171,0
Vijayapura,12,13792,22,13472,119,0,201,0
Yadagiri,10,10388,11,10254,73,0,61,0
Others*,0,36,0,33,0,0,3,0

# Looping through the month

In [27]:
for day in range(1,32):
    day = str(day).zfill(2)
    pdf_path = day+'-12-2020%20HMB%20English.pdf'
    dist_abst = tabula.read_pdf(pdf_path, pages = 3, lattice = True,area = [56,40,730.2,557])
    dist_abst = dist_abst[0]
    dist_abst = dist_abst.drop(dist_abst.columns[[9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]],axis = 'columns')
    header_row = 0
    dist_abst.columns = dist_abst.iloc[header_row]
    dist_abst = dist_abst.drop(header_row)
    dist_abst.columns = dist_abst.columns.str.replace(r"[\r]"," ")
    dist_abst = dist_abst.drop([32],axis = 0)
    dist_abst = dist_abst.set_index('District Name')
    dist_abst.to_csv('dec{}.csv'.format(day))
    print(day)

01
02
03
04
05
06
07
08
09
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

 - In this case the data was good enough that it didn't throw any errors but in some cases some attributes would be different,for eg. the table would be on a different page or the Totals row would have a different row index.
 - If that was the case the above code would throw an error and then I would have a closer look at the problem and fix it individually using the first block of code

# Changing the column names

In [30]:
save_path = r'C:\Users\lisad\Sakhya\dec'
for day in range(5,6):
    if day not in [0]:                #placeholder for uniformity because some months are missing some days.
        day = str(day).zfill(2)
        temp = pd.read_csv(os.path.join(save_path, f'dec{day}.csv'))
        mappings = {temp.columns[0]:'District_Name',temp.columns[1]:'Todays_Positives'
           ,temp.columns[2]:'Total_Positives',temp.columns[3]:'Todays_Discharges'
           ,temp.columns[4]:'Total_Discharges',temp.columns[5]:'Total_Active_Cases'
           ,temp.columns[6]:'Todays_Covid_Deaths'
           ,temp.columns[7]:'Total_Covid_Deaths',temp.columns[8]:'Non_Covid_Deaths'}
        df = temp.rename(columns=mappings)
        df.to_csv('Dec{}.csv'.format(day),index = False)
        print(day)

05

# EXTRACTING DISTRICT LEVEL DATA

- After extracting the daily data into its data, we segregated the data based on districts by concatenating each days data into a new dataframe for each district
### Note:
 - November's data is not available since in that section they have uploaded december's data.

In [2]:
def district_extract(district_df, district):

    datej = []    #july
    datea = []    #august
    dates = []    #september
    dateo = []    #october
    dated = []    #december
    datejn = []   #january
    datef = []    #february

    # july
    save_path = r'C:\Users\lisad\Sakhya\jul'
    for i in range(1, 32):
        if i not in [9, 18]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Jul{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            datej.append(f'july{i}')
    print('j:',len(datej))
    print(len(district_df))

    # aug
    save_path = r'C:\Users\lisad\Sakhya\aug'
    for i in range(1, 32):
        i = str(i).zfill(2)
        d = pd.read_csv(os.path.join(save_path, f'Aug{i}.csv'))
        dis = d[d['District_Name'] == district]
        district_df = pd.concat([district_df, dis])
        datea.append(f'aug{i}')
    print('a:',len(datea))
    print(len(district_df))
    
    # sep
    save_path = r'C:\Users\lisad\Sakhya\sep'
    for i in range(1, 31):
        if i not in [5]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Sep{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            dates.append(f'sep{i}')
    print('s:',len(dates))
    print(len(district_df))
    
    # oct
    save_path = r'C:\Users\lisad\Sakhya\oct'
    for i in range(1, 32):
        if i not in [23]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Oct{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            dateo.append(f'oct{i}')
    print('o:',len(dateo))
    print(len(district_df))
       
    # dec
    save_path = r'C:\Users\lisad\Sakhya\dec'
    for i in range(1, 32):
        if i not in [0]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Dec{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            dated.append(f'dec{i}')
    print('d:',len(dated))
    print(len(district_df))
    
     # jan
    save_path = r'C:\Users\lisad\Sakhya\jan'
    for i in range(1, 32):
        if i not in [0]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Jan{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            datejn.append(f'jan{i}')
    print('jn:',len(datejn))
    print(len(district_df))
    
    
     # feb
    save_path = r'C:\Users\lisad\Sakhya\feb'
    for i in range(1, 29):
        if i not in [0]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Feb{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            datef.append(f'feb{i}')
    print('f:',len(datef))
    print(len(district_df))
    

    alldates = datej+datea+dates+dateo+dated+datejn+datef
    district_df.insert(0, 'date', alldates)
    district_df.to_csv(f'{district}.csv', index = False)
    return district_df

In [3]:
mysuru = pd.DataFrame()
district_extract(mysuru,'Mysuru')

j: 29
29
a: 31
60
s: 29
89
o: 30
119
d: 31
150
jn: 31
181
f: 28
209

,date,District_Name,Todays_Positives,Total_Positives,Todays_Discharges,Total_Discharges,Total_Active_Cases,Todays_Covid_Deaths,Total_Covid_Deaths,Non_Covid_Deaths
28,july01,Mysuru,0,268.0,13.0,189.0,76.0,NaN,3.0,0.0
2,july02,Mysuru,68,336.0,8.0,197.0,135.0,NaN,4.0,0.0
7,july03,Mysuru,35,371.0,20.0,217.0,150.0,NaN,4.0,0.0
6,july04,Mysuru,38,409.0,21.0,238.0,167.0,NaN,4.0,0.0
8,july05,Mysuru,25,434.0,12.0,250.0,179.0,NaN,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...
21,feb24,Mysuru,25,53992.0,21.0,52785.0,177.0,1.0,1030.0,0.0
21,feb25,Mysuru,27,54019.0,14.0,52799.0,190.0,0.0,1030.0,0.0
21,feb26,Mysuru,36,54055.0,17.0,52816.0,209.0,0.0,1030.0,0.0
21,feb27,Mysuru,31,54086.0,26.0,52842.0,214.0,0.0,1030.0,0.0
21,feb28,Mysuru,11,54097.0,20.0,52862.0,205.0,0.0,1030.0,0.0

 - In most cases this function would suffice but there are typos and other inconsistencies for eg.: For district 'Tumakuru', one of the values is 'Tumakuru' which threw an error as shown below

In [4]:
tumakuru = pd.DataFrame()
district_extract(tumakuru,'Tumakuru')

j: 29
29
a: 31
59
s: 29
88
o: 30
118
d: 31
149
jn: 31
180
f: 28
208

ValueError: Length of values (209) does not match length of index (208)

 - To remedy this I then proceeded to check which month the faulty value belonged to using the lengths of district_df printed above 
 - Upon finding the month I ran the following code and used the keyboard shortcut ctrl + f to quickly find date of the inconsistent value
 - In this case it is August

In [5]:
save_path = r'C:\Users\lisad\Sakhya\aug'
for day in range(1,32):
    day = str(day).zfill(2)
    d = pd.read_csv(os.path.join(save_path, f'Aug{day}.csv'))
    print(day,d['District_Name'])

01 0      Bengaluru Urban
1               Mysuru
2              Ballari
3           Kalaburagi
4             Belagavi
5             Dharwada
6              Hassana
7     Dakshina Kannada
8                Udupi
9           Bagalakote
10          Vijayapura
11          Shivamogga
12            Raichuru
13          Davanagere
14             Koppala
15            Tumakuru
16               Gadag
17              Mandya
18     Bengaluru Rural
19     Chikkaballapura
20         Chitradurga
21      Chikkamagaluru
22               Bidar
23              Haveri
24      Uttara Kannada
25          Ramanagara
26     Chamarajanagara
27            Yadagiri
28              Kolara
29              Kodagu
30             Others*
Name: District_Name, dtype: object
02 0      Bengaluru Urban
1              Ballari
2           Kalaburagi
3               Mysuru
4             Raichuru
5                Udupi
6             Dharwada
7           Davanagere
8             Belagavi
9     Dakshina Kannada
10              Haveri
11             Hassana
12               Bidar
13          Bagalakote
14          Vijayapura
15          Shivamogga
16              Mandya
17               Gadag
18             Koppala
19          Ramanagara
20     Chikkaballapura
21              Kolara
22         Chitradurga
23      Chikkamagaluru
24            Yadagiri
25     Bengaluru Rural
26            Tumakuru
27     Chamarajanagara
28      Uttara Kannada
29              Kodagu
30             Others*
Name: District_Name, dtype: object
03 0      Bengaluru Urban
1               Mysuru
2              Ballari
3           Bagalakote
4             Dharwada
5           Kalaburagi
6              Koppala
7           Shivamogga
8     Dakshina Kannada
9               Mandya
10             Hassana
11               Udupi
12            Tumakuru
13            Raichuru
14               Gadag
15              Haveri
16          Vijayapura
17            Yadagiri
18          Ramanagara
19            Belagavi
20     Chikkaballapura
21     Chamarajanagara
22               Bidar
23      Chikkamagaluru
24          Davanagere
25              Kolara
26              Kodagu
27         Chitradurga
28      Uttara Kannada
29     Bengaluru Rural
30             Others*
Name: District_Name, dtype: object
04 0      Bengaluru Urban
1               Mysuru
2           Kalaburagi
3              Ballari
4             Belagavi
5     Dakshina Kannada
6           Davanagere
7             Dharwada
8              Hassana
9      Chikkaballapura
10               Udupi
11             Koppala
12              Haveri
13            Raichuru
14          Bagalakote
15              Mandya
16               Bidar
17               Gadag
18     Bengaluru Rural
19            Tumakuru
20            Yadagiri
21          Vijayapura
22          Ramanagara
23      Chikkamagaluru
24      Uttara Kannada
25     Chamarajanagara
26              Kolara
27              Kodagu
28          Shivamogga
29         Chitradurga
30             Others*
Name: District_Name, dtype: object
05 0      Bengaluru Urban
1              Ballari
2             Belagavi
3               Mysuru
4           Davanagere
5            Dharawada
6           Kalaburagi
7                Udupi
8              Koppala
9     Dakshina Kannada
10          Bagalakote
11             Hassana
12     Chikkaballapura
13      Uttara Kannada
14              Mandya
15     Bengaluru Rural
16            Raichuru
17              Gadaga
18            Yadagiri
19              Haveri
20          Vijayapura
21               Bidar
22              Kolara
23      Chikkamagaluru
24          Ramanagara
25     Chamarajanagara
26          Shivamogga
27            Tumukuru
28         Chitradurga
29              Kodagu
30             Others*
Name: District_Name, dtype: object
06 0      Bengaluru Urban
1              Ballari
2               Mysuru
3           Shivamogga
4             Belagavi
5                Udupi
6            Dharawada
7           Davanagere
8           Kalaburagi
9             Raichuru
10    Dakshina Kannada
11          Bagalakote
12            Tumakuru
13             Hassana
14              Mandya
15             Koppala
16               Gadag
17     Chikkaballapura
18              Kolara
19               Bidar
20     Chamarajanagara
21      Uttara Kannada
22              Haveri
23      Chikkamagaluru
24          Vijayapura
25         Chitradurga
26              Kodagu
27          Ramanagara
28            Yadagiri
29     Bengaluru Rural
30              Others
31                 NaN
Name: District_Name, dtype: object
07 0      Bengaluru Urban
1              Ballari
2             Belagavi
3           Kalaburagi
4            Dharawada
5                Udupi
6               Mysuru
7              Koppala
8             Raichuru
9     Dakshina Kannada
10          Shivamogga
11          Bagalakote
12          Vijayapura
13             Hassana
14      Uttara Kannada
15     Bengaluru Rural
16          Davanagere
17              Gadaga
18              Mandya
19          Ramanagara
20              Haveri
21              Kolara
22               Bidar
23            Tumakuru
24            Yadagiri
25      Chikkamagaluru
26     Chikkaballapura
27     Chamarajanagara
28         Chitradurga
29              Kodagu
30              Others
31                 NaN
Name: District_Name, dtype: object
08 0      Bengaluru Urban
1              Ballari
2                Udupi
3             Belagavi
4             Raichuru
5           Kalaburagi
6            Dharawada
7             Yadagiri
8     Dakshina Kannada
9             Tumakuru
10             Koppala
11          Bagalakote
12          Vijayapura
13              Mysuru
14             Hassana
15          Davanagere
16      Uttara Kannada
17              Mandya
18              Haveri
19              Gadaga
20          Ramanagara
21      Chikkamagaluru
22          Shivamogga
23     Bengaluru Rural
24     Chikkaballapura
25         Chitradurga
26     Chamarajanagara
27              Kolara
28               Bidar
29              Kodagu
30             Others*
Name: District_Name, dtype: object
09 0      Bengaluru Urban
1               Mysuru
2              Ballari
3                Udupi
4             Belagavi
5             Raichuru
6            Dharawada
7           Kalaburagi
8              Hassana
9           Davanagere
10          Bagalakote
11          Shivamogga
12    Dakshina Kannada
13          Vijayapura
14              Gadaga
15      Chikkamagaluru
16             Koppala
17         Chitradurga
18     Bengaluru Rural
19            Yadagiri
20              Kolara
21              Haveri
22            Tumakuru
23               Bidar
24              Mandya
25      Uttara Kannada
26     Chikkaballapura
27     Chamarajanagara
28          Ramanagara
29              Kodagu
30             Others*
Name: District_Name, dtype: object
10 0       Bengaluru Urban
1                Mysuru
2               Ballari
3            Davanagere
4            Kalaburagi
5              Raichuru
6             Dharawada
7            Bagalakote
8     Dakshina\rKannada
9            Vijayapura
10              Hassana
11              Koppala
12               Kolara
13             Tumakuru
14                Udupi
15           Ramanagara
16      Chamarajanagara
17             Yadagiri
18               Mandya
19             Belagavi
20       Uttara Kannada
21      Bengaluru Rural
22               Haveri
23       Chikkamagaluru
24               Gadaga
25          Chitradurga
26               Kodagu
27                Bidar
28      Chikkaballapura
29           Shivamogga
30              Others*
Name: District_Name, dtype: object
11 0      Bengaluru Urban
1              Ballari
2             Belagavi
3             Dharwada
4     Dakshina Kannada
5               Mysuru
6                Udupi
7             Raichuru
8           Shivamogga
9           Davanagere
10             Koppala
11          Kalaburagi
12             Hassana
13              Mandya
14          Bagalakote
15          Vijayapura
16            Yadagiri
17          Ramanagara
18      Chikkamagaluru
19            Tumakuru
20               Gadag
21               Bidar
22      Uttara Kannada
23     Chamarajanagara
24              Kolara
25         Chitradurga
26              Kodagu
27              Haveri
28     Chikkaballapura
29     Bengaluru Rural
30             Others*
Name: District_Name, dtype: object
12 0      Bengaluru Urban
1              Ballari
2               Mysuru
3             Belagavi
4            Dharawada
5                Udupi
6              Hassana
7           Davanagere
8     Dakshina Kannada
9              Koppala
10            Raichuru
11     Bengaluru Rural
12          Bagalakote
13              Gadaga
14          Kalaburagi
15              Haveri
16          Vijayapura
17              Mandya
18            Tumakuru
19      Chikkamagaluru
20            Yadagiri
21               Bidar
22      Uttara Kannada
23     Chikkaballapura
24          Shivamogga
25     Chamarajanagara
26          Ramanagara
27         Chitradurga
28              Kolara
29              Kodagu
30             Others*
Name: District_Name, dtype: object
13 0      Bengaluru Urban
1               Mysuru
2              Ballari
3                Udupi
4           Davanagere
5             Belagavi
6           Kalaburagi
7             Dharwada
8     Dakshina Kannada
9             Raichuru
10             Koppala
11          Bagalakote
12               Bidar
13              Mandya
14             Hassana
15          Vijayapura
16      Chikkamagaluru
17          Shivamogga
18               Gadag
19              Haveri
20            Tumakuru
21            Yadagiri
22              Kolara
23     Bengaluru Rural
24         Chitradurga
25      Uttara Kannada
26     Chamarajanagara
27              Kodagu
28          Ramanagara
29     Chikkaballapura
30             Others*
Name: District_Name, dtype: object
14 0      Bengaluru Urban
1              Ballari
2           Shivamogga
3           Davanagere
4             Belagavi
5                Udupi
6     Dakshina Kannada
7               Mysuru
8           Kalaburagi
9             Raichuru
10            Dharwada
11               Gadag
12            Tumakuru
13          Bagalakote
14              Mandya
15             Koppala
16             Hassana
17          Vijayapura
18              Haveri
19            Yadagiri
20      Chikkamagaluru
21               Bidar
22      Uttara Kannada
23          Ramanagara
24              Kolara
25         Chitradurga
26     Chamarajanagara
27              Kodagu
28     Chikkaballapura
29     Bengaluru Rural
30             Others*
Name: District_Name, dtype: object
15 0      Bengaluru Urban
1              Ballari
2               Mysuru
3             Belagavi
4           Davanagere
5     Dakshina Kannada
6                Udupi
7             Dharwada
8           Vijayapura
9           Kalaburagi
10             Koppala
11          Bagalakote
12            Tumakuru
13            Raichuru
14             Hassana
15     Bengaluru Rural
16               Gadag
17          Shivamogga
18              Haveri
19               Bidar
20              Mandya
21      Chikkamagaluru
22      Uttara Kannada
23            Yadagiri
24     Chamarajanagara
25              Kolara
26          Ramanagara
27              Kodagu
28     Chikkaballapura
29         Chitradurga
30             Others*
Name: District_Name, dtype: object
16 0      Bengaluru Urban
1               Mysuru
2             Belagavi
3              Ballari
4           Kalaburagi
5             Dharwada
6                Udupi
7             Yadagiri
8     Dakshina Kannada
9           Davanagere
10             Koppala
11            Raichuru
12            Tumakuru
13          Vijayapura
14          Bagalakote
15             Hassana
16               Bidar
17     Chikkaballapura
18              Mandya
19              Kolara
20     Bengaluru Rural
21              Gadaga
22              Haveri
23         Chitradurga
24      Chikkamagaluru
25      Uttara Kannada
26     Chamarajanagara
27          Ramanagara
28              Kodagu
29          Shivamogga
30             Others*
Name: District_Name, dtype: object
17 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
18 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
19 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
20 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
21 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
22 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
23 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
24 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
25 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
26 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi
17              Kodagu
18              Kolara
19             Koppala
20              Mandya
21              Mysuru
22            Raichuru
23          Ramanagara
24          Shivamogga
25            Tumakuru
26               Udupi
27      Uttara Kannada
28          Vijayapura
29            Yadagiri
30             Others*
Name: District_Name, dtype: object
27 0           Bagalakote
1              Ballari
2             Belagavi
3      Bengaluru Rural
4      Bengaluru Urban
5                Bidar
6      Chamarajanagara
7      Chikkaballapura
8       Chikkamagaluru
9          Chitradurga
10    Dakshina Kannada
11          Davanagere
12            Dharwada
13               Gadag
14             Hassana
15              Haveri
16          Kalaburagi

 - The date is found to be Aug 5th.
 - I added an extra argument 'district1' to the function to accomodate the change and then use an if else loop to account for the inconsistent value

In [6]:
def district_extract(district_df, district,district1):

    datej = []
    datea = []
    dates = []
    dateo = []
    dated = []
    datejn = []
    datef = []
    
    # july
    save_path = r'C:\Users\lisad\Sakhya\jul'
    for i in range(1, 32):
        if i not in [9, 18]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Jul{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            datej.append(f'july{i}')
    print('j:',len(datej))
    print(len(district_df))
    
    # aug
    save_path = r'C:\Users\lisad\Sakhya\aug'         
    for i in range(1, 32):
        if i not in [5]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Aug{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            datea.append(f'aug{i}')
        else:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Aug{i}.csv'))
            dis = d[d['District_Name'] == district1]
            district_df = pd.concat([district_df, dis])
            datea.append(f'aug{i}')            
    print('a:',len(datea))
    print(len(district_df))
    

    # sep
    save_path = r'C:\Users\lisad\Sakhya\sep'
    for i in range(1, 31):
        if i not in [5]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Sep{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            dates.append(f'sep{i}')
    print('s:',len(dates))
    print(len(district_df))
    
    # oct
    save_path = r'C:\Users\lisad\Sakhya\oct'
    for i in range(1, 32):
        if i not in [23]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Oct{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            dateo.append(f'oct{i}')
    print('o:',len(dateo))
    print(len(district_df))
    
    
     # dec
    save_path = r'C:\Users\lisad\Sakhya\dec'
    for i in range(1, 32):
        if i not in [0]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Dec{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            dated.append(f'dec{i}')
    print('d:',len(dated))
    print(len(district_df))
    
     # jan
    save_path = r'C:\Users\lisad\Sakhya\jan'
    for i in range(1, 32):
        if i not in [0]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Jan{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            datejn.append(f'jan{i}')
    print('jn:',len(datejn))
    print(len(district_df))
    
    
     # feb
    save_path = r'C:\Users\lisad\Sakhya\feb'
    for i in range(1, 29):
        if i not in [0]:
            i = str(i).zfill(2)
            d = pd.read_csv(os.path.join(save_path, f'Feb{i}.csv'))
            dis = d[d['District_Name'] == district]
            district_df = pd.concat([district_df, dis])
            datef.append(f'feb{i}')
    print('f:',len(datef))
    print(len(district_df))
    

    alldates = datej+datea+dates+dateo+dated+datejn+datef
    district_df.insert(0, 'date', alldates)
    district_df.to_csv(f'{district}.csv', index = False)
    return district_df

In [7]:
tum = pd.DataFrame()
district_extract(tum,'Tumakuru','Tumukuru')

j: 29
29
a: 31
60
s: 29
89
o: 30
119
d: 31
150
jn: 31
181
f: 28
209

,date,District_Name,Todays_Positives,Total_Positives,Todays_Discharges,Total_Discharges,Total_Active_Cases,Todays_Covid_Deaths,Total_Covid_Deaths,Non_Covid_Deaths
11,july01,Tumakuru,19,113.0,10.0,49.0,59.0,NaN,5.0,0.0
9,july02,Tumakuru,26,139.0,0.0,49.0,84.0,NaN,6.0,0.0
4,july03,Tumakuru,57,196.0,0.0,49.0,141.0,NaN,6.0,0.0
17,july04,Tumakuru,12,208.0,11.0,60.0,142.0,NaN,6.0,0.0
15,july05,Tumakuru,13,221.0,1.0,61.0,153.0,NaN,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...
25,feb24,Tumakuru,16,25618.0,22.0,24938.0,290.0,1.0,390.0,0.0
25,feb25,Tumakuru,24,25642.0,23.0,24961.0,291.0,0.0,390.0,0.0
25,feb26,Tumakuru,18,25660.0,16.0,24977.0,293.0,0.0,390.0,0.0
25,feb27,Tumakuru,9,25669.0,0.0,24977.0,302.0,0.0,390.0,0.0
25,feb28,Tumakuru,15,25684.0,68.0,25045.0,249.0,0.0,390.0,0.0