Following Code can be used to extract the data from the online pdf and convert it into a excel file. You can get the data by changing the start date

In [10]:
# import necessary packaged 
import pandas as pd
from datetime import date
import requests as req
import PyPDF2
import tabula
import numpy as np
from openpyxl import Workbook

date_df = pd.date_range(start='05/30/2021', end='05/30/2021')

for i in date_df:
    target_date = i
    temp = str(target_date)[:10]
    result = temp.split("-")
    new_result = date(int(result[0]),int(result[1]),int(result[2]))
    month = new_result.strftime("%b").upper()
    year = result[0][2:]
    # date_requried = the date we'll be working on for each iteration 
    date_required = result[2] + "-" + result[1] + "-" + result[0]
    print('Working on the following day: ' + date_required)
    #url_may = "https://covid19.karnataka.gov.in/storage/pdf-files/EMB-"+month+year+"/"+date_required+"%20HMB%20English.pdf"
    #url_march = "https://covid19.karnataka.gov.in/pdfs/mar21/en/"+date_required+"%20HMB%20English.pdf"
    #url_apr = "https://covid19.karnataka.gov.in/storage/pdf-files/EMB-"+month+year+"/"+date_required+"%20HMB%20English.pdf"
    url_june = "https://covid19.karnataka.gov.in/storage/pdf-files/EMB--JUN21/"+date_required+"%20HMB%20English.pdf"
    
    # Read online pdf save offline
    response = req.get(url_june, stream=True)
    with open('PDF/JUNE/'+date_required+'.pdf', 'wb') as pdf:
        pdf.write(response.content)
    
    # Read offline pdf
    pdf_path = 'PDF/JUNE/'+date_required+'.pdf'
    pdfReader = PyPDF2.PdfFileReader(pdf_path)
    pages = pdfReader.numPages

    
    
    
    
    search_word = "19**"
    search_word2 ="abstract"
    
    # search for the page where we have death reports as this page is different for each pdf
    for pageNum in range(0, pages):
        pageObj = pdfReader.getPage(pageNum)
        text = pageObj.extractText().encode('utf-8')
        search_text = text.lower().split()
        for word in search_text:
            if search_word in word.decode("utf-8"):
                num = pageNum

                
                
                
                
                
    
    
#     dist_abst = tabula.read_pdf(pdf_path, pages = num+1, area=(50, 20, 660, 800), lattice=True)
#     dist_abst = dist_abst[0] 
#     col_names = dist_abst.columns
#     column_names = []
#     for names in col_names[0:10]:
#         colname = names.replace('\r',' ')
#         column_names.append(colname)
#     dist_abst.columns = column_names
#     dist_abst = dist_abst.iloc[:,1:11]

#     dist_abst = tabula.read_pdf(pdf_path, pages = num+1, lattice = True)
#     dist_abst = dist_abst[0]
#     dist_abst.columns = dist_abst.iloc[1].replace('\r',' ', regex=True)
#     display(num+1)
#     display(dist_abst)
    
#     dist_abst = dist_abst.iloc[2:33,2:11].set_index('District Name')
#     dist_abst

    dist_abst = tabula.read_pdf(pdf_path, pages = num+1, lattice = True)
    dist_abst = dist_abst[0]
    dist_abst_temp = dist_abst.iloc[-2:-1,2:]
    dist_abst_temp =  dist_abst_temp.dropna(axis='columns')
    dist_abst.columns = dist_abst.iloc[1].replace('\r',' ', regex=True)
    display(dist_abst)
    dist_abst = dist_abst.iloc[2:33,2:11].set_index('District Name')

    display(dist_abst)

#    dist_abst.to_csv('EXCEL/MARCH/'+date_required+'.csv')
    
    # Save the data extracted from the pdf to excel
    with pd.ExcelWriter('EXCEL/JUNE/'+date_required+'.xlsx') as writer:
        dist_abst.to_excel(writer, sheet_name='District', index=True) 

    
    
    
    
    
    
    
#     search_word = "deaths"
    
#     # search for the page where we have death reports as this page is different for each pdf
#     for pageNum in range(0, pages):
#         pageObj = pdfReader.getPage(pageNum)
#         text = pageObj.extractText().encode('utf-8')
#         search_text = text.lower().split()
#         for word in search_text:
#             if search_word in word.decode("utf-8"):
#                 if pageNum > num:
#                     num2 = pageNum
#                     print(num2)
                        
    
#     deaths = tabula.read_pdf(pdf_path, pages = num2+1, area=(90, 20, 820, 800), lattice = True)
#     deaths = deaths[0]
#     col_names = deaths.columns
#     column_names = []
#     for names in col_names:
#       colname = names.replace('\r',' ')
#       column_names.append(colname)
#     death_df = pd.DataFrame()
#     for i in range(num2+1,pages):
#         death = tabula.read_pdf(pdf_path, pages = i, area=(0, 20, 820, 800), lattice = True)
#         death = death[0]
#         death_df = pd.concat([death_df, death], axis=0)
    
#     #death_df.columns = col_names
#     deaths = pd.concat([deaths, death_df], axis=0)
#     display(deaths)

Working on the following day: 30-05-2021

1,NaN,NaN,Districtwise Abstract of COVID-19**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,Districtwise Abstract of COVID-19**\rDeath\rTo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Districtwise Abstract of COVID-19**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Districtwise Abstract of COVID-19**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Sl.\rNo,District Name,Today’s\rPositives,Total\rPositives,Today’s\rDischarges,Total\rDischarges,Total\rActive\rCases,Today’s\rReported\rCovid\rDeaths,Total\rCovid\rDeaths,Death\rdue to\rNon-\rCovid\rreasons,NaN,NaN
5,NaN,NaN,1,Bagalakote,193,32770,971,30241,2252,2,277,0,NaN,NaN
6,NaN,NaN,2,Ballari,598,91027,1158,79208,10469,13,1350,0,NaN,NaN
7,NaN,NaN,3,Belagavi,1171,64975,1734,47984,16455,5,536,0,NaN,NaN
8,NaN,NaN,4,Bengaluru Rural,392,53242,2142,41380,11209,10,653,0,NaN,NaN
9,NaN,NaN,5,Bengaluru Urban,4734,1159237,6078,983507,162625,213,13104,1,NaN,NaN
10,NaN,NaN,6,Bidar,37,23821,38,23045,396,2,376,4,NaN,NaN
11,NaN,NaN,7,Chamarajanagara,402,26734,386,23237,3100,5,386,11,NaN,NaN
12,NaN,NaN,8,Chikkaballapura,356,37624,374,33358,3966,1,299,1,NaN,NaN
13,NaN,NaN,9,Chikkamagaluru,671,37418,669,31153,6012,1,253,0,NaN,NaN
14,NaN,NaN,10,Chitradurga,805,28708,523,21624,6943,2,141,0,NaN,NaN
15,NaN,NaN,11,Dakshina\rKannada,727,75548,738,65313,9329,5,904,2,NaN,NaN
16,NaN,NaN,12,Davanagere,698,42034,853,36906,4773,8,355,0,NaN,NaN
17,NaN,NaN,13,Dharwada,525,55429,1010,48200,6269,19,959,1,NaN,NaN
18,NaN,NaN,14,Gadag,289,23326,391,20389,2691,5,246,0,NaN,NaN
19,NaN,NaN,15,Hassana,2227,83408,871,67799,14713,11,895,1,NaN,NaN
20,NaN,NaN,16,Haveri,206,19582,295,17407,1742,10,433,0,NaN,NaN
21,NaN,NaN,17,Kalaburagi,107,59981,299,57203,2012,4,766,0,NaN,NaN
22,NaN,NaN,18,Kodagu,271,24807,319,22176,2409,3,222,0,NaN,NaN
23,NaN,NaN,19,Kolara,341,38135,418,30775,7015,3,345,0,NaN,NaN
24,NaN,NaN,20,Koppala,365,31415,171,27076,3926,5,413,0,NaN,NaN
25,NaN,NaN,21,Mandya,643,60289,670,54246,5598,4,445,0,NaN,NaN
26,NaN,NaN,22,Mysuru**,1559,141644,1846,124213,15820,8,1611,0,NaN,NaN
27,NaN,NaN,23,Raichuru,278,37859,674,32617,4975,3,267,0,NaN,NaN
28,NaN,NaN,24,Ramanagara,164,22196,543,19686,2252,3,258,0,NaN,NaN
29,NaN,NaN,25,Shivamogga,386,51627,645,43629,7204,12,794,0,NaN,NaN
30,NaN,NaN,26,Tumakuru,773,102559,1516,88627,13038,8,894,0,NaN,NaN
31,NaN,NaN,27,Udupi,651,58187,1081,52514,5349,2,324,0,NaN,NaN
32,NaN,NaN,28,Uttara Kannada,504,44619,1040,38840,5214,7,565,0,NaN,NaN
33,NaN,NaN,29,Vijayapura,198,33057,315,30654,1997,4,406,0,NaN,NaN
34,NaN,NaN,30,Yadagiri,107,26533,285,24077,2257,4,199,0,NaN,NaN
35,NaN,NaN,31,Others*,0,36,0,33,0,0,3,0,NaN,NaN
36,NaN,NaN,Total,20378,2587827,28053,2217117,342010,382,28679,21,NaN,NaN,NaN
37,NaN,Total,20378,2587827,28053,2217117,342010,382,28679,21,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1,NaN,NaN,Districtwise Abstract of COVID-19**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,Districtwise Abstract of COVID-19**\rDeath\rTo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Districtwise Abstract of COVID-19**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Districtwise Abstract of COVID-19**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Sl.\rNo,District Name,Today’s\rPositives,Total\rPositives,Today’s\rDischarges,Total\rDischarges,Total\rActive\rCases,Today’s\rReported\rCovid\rDeaths,Total\rCovid\rDeaths,Death\rdue to\rNon-\rCovid\rreasons,NaN,NaN
5,NaN,NaN,1,Bagalakote,193,32770,971,30241,2252,2,277,0,NaN,NaN
6,NaN,NaN,2,Ballari,598,91027,1158,79208,10469,13,1350,0,NaN,NaN
7,NaN,NaN,3,Belagavi,1171,64975,1734,47984,16455,5,536,0,NaN,NaN
8,NaN,NaN,4,Bengaluru Rural,392,53242,2142,41380,11209,10,653,0,NaN,NaN
9,NaN,NaN,5,Bengaluru Urban,4734,1159237,6078,983507,162625,213,13104,1,NaN,NaN
10,NaN,NaN,6,Bidar,37,23821,38,23045,396,2,376,4,NaN,NaN
11,NaN,NaN,7,Chamarajanagara,402,26734,386,23237,3100,5,386,11,NaN,NaN
12,NaN,NaN,8,Chikkaballapura,356,37624,374,33358,3966,1,299,1,NaN,NaN
13,NaN,NaN,9,Chikkamagaluru,671,37418,669,31153,6012,1,253,0,NaN,NaN
14,NaN,NaN,10,Chitradurga,805,28708,523,21624,6943,2,141,0,NaN,NaN
15,NaN,NaN,11,Dakshina\rKannada,727,75548,738,65313,9329,5,904,2,NaN,NaN
16,NaN,NaN,12,Davanagere,698,42034,853,36906,4773,8,355,0,NaN,NaN
17,NaN,NaN,13,Dharwada,525,55429,1010,48200,6269,19,959,1,NaN,NaN
18,NaN,NaN,14,Gadag,289,23326,391,20389,2691,5,246,0,NaN,NaN
19,NaN,NaN,15,Hassana,2227,83408,871,67799,14713,11,895,1,NaN,NaN
20,NaN,NaN,16,Haveri,206,19582,295,17407,1742,10,433,0,NaN,NaN
21,NaN,NaN,17,Kalaburagi,107,59981,299,57203,2012,4,766,0,NaN,NaN
22,NaN,NaN,18,Kodagu,271,24807,319,22176,2409,3,222,0,NaN,NaN
23,NaN,NaN,19,Kolara,341,38135,418,30775,7015,3,345,0,NaN,NaN
24,NaN,NaN,20,Koppala,365,31415,171,27076,3926,5,413,0,NaN,NaN
25,NaN,NaN,21,Mandya,643,60289,670,54246,5598,4,445,0,NaN,NaN
26,NaN,NaN,22,Mysuru**,1559,141644,1846,124213,15820,8,1611,0,NaN,NaN
27,NaN,NaN,23,Raichuru,278,37859,674,32617,4975,3,267,0,NaN,NaN
28,NaN,NaN,24,Ramanagara,164,22196,543,19686,2252,3,258,0,NaN,NaN
29,NaN,NaN,25,Shivamogga,386,51627,645,43629,7204,12,794,0,NaN,NaN
30,NaN,NaN,26,Tumakuru,773,102559,1516,88627,13038,8,894,0,NaN,NaN
31,NaN,NaN,27,Udupi,651,58187,1081,52514,5349,2,324,0,NaN,NaN
32,NaN,NaN,28,Uttara Kannada,504,44619,1040,38840,5214,7,565,0,NaN,NaN
33,NaN,NaN,29,Vijayapura,198,33057,315,30654,1997,4,406,0,NaN,NaN
34,NaN,NaN,30,Yadagiri,107,26533,285,24077,2257,4,199,0,NaN,NaN
35,NaN,NaN,31,Others*,0,36,0,33,0,0,3,0,NaN,NaN
36,NaN,NaN,Total,20378,2587827,28053,2217117,342010,382,28679,21,NaN,NaN,NaN
37,NaN,Total,20378,2587827,28053,2217117,342010,382,28679,21,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN